<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SparePartSystem</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
<style>
    .sidenav {
      width: 150px;
      position: fixed;
      z-index: 1;
      top: 15px;
      right: 7px;
      background: #ffffff;
      overflow-x: hidden;
      padding: 8px 0;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #2196F3;
      display: block;
    }

    .sidenav a:hover {
      color: #064579;
}
</style>
  </head>
  <body>
  <div class="sidenav">
    <a href="/factory">Home</a>
    <a href="/spare/new">New Spare</a>
    <a href="/logout">Log Out</a>
    
  </div>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>SparePartSystem</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
